In [2]:
變數一=1

In [3]:
變數一

1

In [4]:
a=b=c=d=20

In [6]:
age,name=17,"peishan"

In [7]:
age

17

In [8]:
name

'peishan'

In [9]:
age,name

(17, 'peishan')

In [11]:
A=B=C=50

In [12]:
a,b,c,A,B,C

(20, 20, 20, 50, 50, 50)

In [13]:
早餐=100

In [14]:
午餐=200

In [15]:
早餐+午餐

300

In [16]:
print(早餐+午餐)

300

In [17]:
三天餐費=(早餐+午餐)*3

In [18]:
print(三天餐費)

900

In [19]:
早餐=50

In [21]:
餐費=早餐+午餐

In [22]:
print(餐費)

250

In [25]:
d=2
e=5
f=6

In [26]:
d

2

In [27]:
e

5

In [28]:
f

6

In [32]:
週三=33

In [33]:
週四=32

In [34]:
週五=33

In [35]:
週六=35

In [37]:
平均氣溫=(週三+週四+週五+週六)/4

In [43]:
print(平均氣溫)

33.25

In [40]:
週三,週四,週五,週六=33,32,33,35

In [41]:
平均氣溫=(週三+週四+週五+週六)/4

In [44]:
print(平均氣溫)

33.25

In [46]:
print(((週三+週四+週五+週六)/4))

33.25

In [49]:
日花費=300

In [50]:
周花費=日花費*7

In [51]:
月花費=周花費*4

In [53]:
print(周花費,月花費)

2100 8400